@font-face {
    src: url(Fonts/Dream.ttf);
    font-family: Dream;
}

@media (min-width: 50px) {  
  .title {font-size: 2rem;} 
}

@media (min-width: 600px) {  
  .title {font-size: 3rem;}; 
}

.App {
    text-align: center;
    background-color: #1e1e1e;
    color: #ffc107;
}

.dream-shadow{
    box-shadow: 2px 2px 2px rgba(220, 247, 255, 0.6), 3px 3px 2px rgba(220, 247, 255, 0.6),
        2px -1px 2px rgba(130, 141, 144, 0.6);
}

.splash-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #ffc107;
    z-index: 2;
}

.dream-link{
    color: #386a8b;
    font-weight: bold;
}

.dream-link:hover{
    color: #77998b;
    text-decoration: none;
}

.btn-shadow{
    box-shadow: 2px 2px 2px rgba(255, 190, 10, 0.6);
}

.purchase-form {
    justify-content: center;
}

.purchase-form-container {
    max-width: 800px;
    margin: auto;
}

.dt-button {
    margin: 10px;
}

.error-in-form {
    margin: 20px auto;
    padding: 10px;
    color: #ac3d46;
    background-color: #1d1d1d;
    border-radius: 7px;
    max-width: 400px;
}

.available-funds {
    margin: 20px auto;
    padding: 10px;
    background-color: #1d1d1d;
    border-radius: 7px;
    max-width: 500px;
}

.title {
    font-family: Dream;
    padding: 40px;
    text-shadow: 2px 2px 2px rgba(255, 190, 10, 0.6);
}

.purchase-form-label {
    font-size: 20px;
}

.portfolio-page {
    justify-content: center;
}

.user-holding-container {
    margin: auto;
    background-color: #292929;
    max-width: 1000px;
    color: #4d4d4d;
    border-radius: 7px;
    padding: 20px;
    justify-content: center;
}

.user-holding {
    margin: auto;
    background-color: #ffdc91;
    border-radius: 7px;
    padding: 10px;
}

.holding-container {
    margin: auto;
    padding: 20px;
}

.login-container {
    max-width: 800px;
    margin: 5% auto;
    padding: 20px;
    min-width: 300px;
    background-color: rgba(255, 255, 255, .15);
    border-radius: 10px;
}
