@font-face {
    src: url(Fonts/Dream.ttf);
    font-family: Dream;
}

@media (min-width: 50px) {  
  .title {font-size: 2rem;} 
}

@media (min-width: 600px) {  
  .title {font-size: 3rem;}; 
}

.App {
    text-align: center;
    background-color: #1e2e35;
    color: #ffc107;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.dream-btn{
    box-shadow: 1px 1px 1px rgba(31, 42, 61, 0.6), 1px 1px 1px rgba(34, 52, 58, 0.6),
        1px -1px 3px rgba(63, 100, 134, 0.6);
    margin: 10px;
}

.dream-shadow{
    box-shadow: 2px 2px 2px rgba(220, 247, 255, 0.6), 3px 3px 2px rgba(220, 247, 255, 0.6),
        2px -1px 2px rgba(130, 141, 144, 0.6);
}

.splash-footer{
    color:#2f4247;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #ffc107;
    z-index: 2;
}

.dream-link{
    color: #34524f;
    font-weight: bold;
}

.dream-link:hover{
    color: #55796a;
    text-decoration: none;
}

.purchase-form {
    justify-content: center;
}

.purchase-form-container {
    max-width: 800px;
    margin: auto;
}

.error-in-form {
    margin: 20px auto;
    padding: 10px;
    color: #ac3d46;
    background-color: #2f4247;
    border-radius: 7px;
    max-width: 400px;
}

.available-funds {
    margin: 20px auto;
    padding: 10px;
    background-color: #2f4247;
    border-radius: 7px;
    max-width: 500px;
}

.title {
    font-family: Dream;
    padding: 40px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 2px rgba(14, 19, 18, 0.671);
}

.purchase-form-label {
    font-size: 20px;
}

.portfolio-page {
    justify-content: center;
}

.user-holding-container {
    margin: auto;
    background-color:rgba(62, 89, 107, 0.363);
    max-width: 1000px;
    border-radius: 7px;
    padding: 20px;
    justify-content: center;
}

.user-holding {
    margin: auto;
    background-color: #ffdc91;
    border-radius: 7px;
    padding: 20px;
    min-width: 320;
    color: #34524f;
}

.holding-container {
    margin: auto;
    padding: 20px;
}

.login-container {
    max-width: 800px;
    margin: 5% auto;
    padding: 20px;
    min-width: 300px;
    background-color: #1e2e35;
    border-radius: 10px;
}

@keyframes jump-up{
    50%{
        transform: translate(0, 10px);
    }
}

.dot1{
    background-color: #ffc134;
    animation: jump-up 0.8s 0.1s linear infinite;
}

.dot2{
    background-color: #00a2b6;
    animation: jump-up 0.8s 0.2s linear infinite;
}

.dot3{
    background-color: #ffeebd;
    animation: jump-up 0.8s 0.3s linear infinite;
}

@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}

.circle-animation{
    animation: spin linear 1s infinite
}