.App {
    text-align: center;
    background-color: #1e1e1e;
    color: #ffc107;
}

.purchase-form {
    justify-content: center;
}

.purchase-form-container {
    max-width: 800px;
    margin: auto;
}

.dt-button {
    margin: 10px;
}

.available-funds-warning {
    margin: 20px auto;
    padding: 10px;
    background-color: #313131;
    border-radius: 7px;
    max-width: 400px;
}

.available-funds {
    margin: 20px auto;
    padding: 10px;
    background-color: #313131;
    border-radius: 7px;
    max-width: 500px;
}

.title {
    padding: 20px;
}

.purchase-form-label {
    font-size: 20px;
}

.portfolio-page {
    justify-content: center;
}

.user-holding-container {
    margin: auto;
    background-color: #504f4f;
    max-width: 1000px;
    color: #313131;
    border-radius: 7px;
    padding: 20px;
    justify-content: center;
}

.user-holding {
    margin: auto;
    background-color: #ffdc91;
    border-radius: 7px;
    padding: 10px;
}

.holding-container {
    margin: auto;
    padding: 20px;
}
